[submodule "repo_submodules/EnvironmentDevelopmentDocker"]
	path = repo_submodules/EnvironmentDevelopmentDocker
	url = https://github.com/NaagrajHM/EnvironmentDevelopmentDocker.git
[submodule "repo_projects/project_TesterDiagnosticUDSi14229"]
	path = repo_projects/project_TesterDiagnosticUDSi14229
	url = https://github.com/NaagrajHM/project_TesterDiagnosticUDSi14229.git
[submodule "repo_submodules/InterfaceCore"]
	path = repo_submodules/InterfaceCore
	url = https://github.com/NaagrajHM/InterfaceCore.git
[submodule "repo_submodules/Application"]
	path = repo_submodules/Application
	url = https://github.com/NaagrajHM/Application.git
[submodule "repo_submodules/ClassCore"]
	path = repo_submodules/ClassCore
	url = https://github.com/NaagrajHM/ClassCore.git
[submodule "repo_projects/project_SimulationVehicle"]
	path = repo_projects/project_SimulationVehicle
	url = https://github.com/NaagrajHM/project_SimulationVehicle.git
[submodule "repo_submodules/ClassRingBuffer"]
	path = repo_submodules/ClassRingBuffer
	url = https://github.com/NaagrajHM/ClassRingBuffer.git
[submodule "repo_submodules/Dcm"]
	path = repo_submodules/Dcm
	url = https://github.com/NaagrajHM/Dcm.git
[submodule "repo_submodules/DeviceDriverEthernet"]
	path = repo_submodules/DeviceDriverEthernet
	url = https://github.com/NaagrajHM/DeviceDriverEthernet.git
[submodule "repo_submodules/ServicesCommunicationDcm"]
	path = repo_submodules/ServicesCommunicationDcm
	url = https://github.com/NaagrajHM/ServicesCommunicationDcm.git
[submodule "repo_submodules/ServicesSystemEcuM"]
	path = repo_submodules/ServicesSystemEcuM
	url = https://github.com/NaagrajHM/ServicesSystemEcuM.git
[submodule "repo_submodules/ServicesSystemSchM"]
	path = repo_submodules/ServicesSystemSchM
	url = https://github.com/NaagrajHM/ServicesSystemSchM.git
